hr.style2 {
    border-top: 3px double #8c8b8b;
}

body {
    padding-top: 70px;
}

nav ul {
    padding-right: 20px;
}

header {
    padding-bottom: 10px;
}

header p {
    color: black !important;
}

#skills .lead {
    color: black !important;
    font-size: 43px;
}

footer .container {
    background-color: black;
}

@media (max-width: 500px) {

    header h1 {
        display: inline-block;
        font-size: 28px;
    }
}

@media (min-width: 568px) {
    body .lead {
        font-size: 19px;
        padding: 10px;
        margin-right: 8px;
    }
}

@media (max-width: 600px) {

    #aboutme {
        height: 840px !important;
    }

    #aboutme h2 {
        padding-top: 10px;
    }
}

.jumbotron {
    background: url("images/gs-final.jpg") no-repeat center center;
    max-width: 100%;
    height: 390px;
    border-top: 5px solid;
    border-top-color: #000;
}

#aboutme {
    background: url("images/foam.jpg") no-repeat center center;
    max-width: 100%;
    height: 450px;
}

#aboutme h2, p {
    color: white;
}

#aboutbtn p {
    text-align: center;
}

#skills p {
    text-align: center;
}

.gallery .col-sm-3 {
    padding: 20px;
}

.gallery .row {
    padding-left: 17px;
}

footer p {
	text-align: center;
}

body {
    background-image: url("images/concrete.png");
}

h1 {
    font-family: 'PT Serif', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}

p {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}